annotated-types
anyio
bcrypt
easyocr
ecdsa
fastapi
filelock
fsspec
greenlet
h11
httpcore
httpx
imageio
Jinja2
jiter
lazy_loader
MarkupSafe
mpmath
networkx
ninja
numpy
openai
opencv-python-headless
packaging
passlib
pillow
pyasn1
pyclipper
pydantic
pydantic_core
PyJWT
PyMuPDF
PyMuPDFb
pytesseract
python-bidi
python-dotenv
python-jose
python-multipart
PyYAML
requests
rsa
scikit-image
scipy
shapely
sniffio
SQLAlchemy
starlette
sympy
tifffile
torch
torchvision
tqdm
uvicorn
reportlab
